
#home-screen {
}

#home-vertical-spacer {
  margin: 15% 0;
}

.combat-manager-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(100px, 100%, 1000px);
  height: clamp(85px, 100%, 850px);
}
