<div class="navbar">
  <div class="navmenu" *ngIf="atHome">
    <button id="nav-button" routerLink="/">HOME</button> | 
    <button id="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->  ENCOUNTERS</button> |
    <button id="nav-button" (click)="LeaveHome()" routerLink="/AddCharacter">  CHARACTERS</button> |
    <button id="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->  NPCS</button> |
    <button id="nav-button" (click)="LeaveHome()" routerLink="/AddClass">  CLASSES</button> |
    <button id="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->  RACES</button> |
    <button id="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->  SPELLS/ABILITIES</button>
  </div>
  <div class="burger-shield" *ngIf="!atHome" (click)="ReturnHome()">
    <div class="circle-outer-burger-shield" routerLink="/"></div>
    <div class="circle-inner-burger-shield" routerLink="/"></div>
    <div class="line-burger-shield" routerLink="/"></div>
    <div class="line-burger-shield" routerLink="/"></div>
    <div class="line-burger-shield" routerLink="/"></div>
  </div>
</div>

