.navbar {
  justify-content: center;
  height: 20vh;
}

.navmenu {
  justify-content: space-around;
  padding-top: 4em;
  display: flex;
  font-size: 25px;
}

.burger-shield{
  margin-right: auto;
  padding-top: 4em;
  padding-left: 1em;
  display: flex;
  font-size: 25px;
}

button {
  padding-right: 15px;
  opacity: 0.6;
}

button:hover {
  opacity: 1.0;
  transition-delay: .2s;
}

#nav-button {
  background: transparent;
  border: none !important;
}
