<div class="navbar">
  <div class="burger-shield" *ngIf="!atHome" (click)="ReturnHome()">
    <figure>
      <img src="../../assets/images/home_shield_sm.png" routerLink="/" />
    </figure>
  </div>
  <div class="navmenu" [@slideOut] *ngIf="atHome">
    <button class="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->ENCOUNTERS</button>&nbsp;|&nbsp;
    <button class="nav-button" (click)="LeaveHome()" routerLink="/Character">CHARACTERS</button>&nbsp;|&nbsp;
    <button class="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->NPCS</button>&nbsp;|&nbsp;
    <button class="nav-button" (click)="LeaveHome()" routerLink="/AddClass">CLASSES</button>&nbsp;|&nbsp;
    <button class="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->RACES</button>&nbsp;|&nbsp;
    <button class="nav-button" (click)="LeaveHome()" routerLink="/"><!--<a routerLink="">-->SPELLS/ABILITIES</button>
  </div>
</div>
