
.character-screen {
  padding-top: 115px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  width: 100%;
  float: right;
  height: 75vh;
  background-color: red;
  opacity: .5;
}

mat-grid-tile {
  background: var(--clr-bg-textbox);
}
