/* You can add global styles to this file, and also import other style files */
:root {
  /*Colors*/
  --clr-primary-text: #36342E;
  --clr-highlight-text: #BF391F;
  --clr-bg-textbox: #F8EDCA;
  --clr-bg-button: #D9BE7C;
  --clr-bg-borders: #D6B25A;
  /*Fonts*/
  --ff-primary: Artifika;
}


header{
  /*Removes header background - no white bar*/
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
}

body {
  margin: 0;
  /*Primary background*/
  background-image: url("./assets/images/paper_pattern_bg.png");
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-size: auto 100%;
  /*Primary text*/
  color: var(--clr-primary-text);
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 600;
}


a{
    color: var(--clr-highlight-text);
}

h1 {
  font-size: 40px;
  font-family: var(--ff-primary);
}

h2 {
  font-size: 30px;
  font-family: var(--ff-primary);
}

h3 {
  font-size: 30px;
  font-family: var(--ff-primary);
}

.btn-primary {
  color: var(--clr-primary-text);
  background-color: var(--clr-bg-button);
  border-radius: 0.1875rem 0.25rem;
  border-color: var(--clr-bg-borders);
}

.btn-dirty {
  color: var(--clr-bg-button);
  background-color: var(--clr-bg-borders);
  border-radius: 0.1875rem 0.25rem;
  border-color: var(--clr-bg-textbox);
}

.header
 {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  height: 5%;
  background-image: url("./assets/images/header_wood_trim.png");
 }


.footer {
  bottom:0;
  position: fixed;
  width: 100%;
  margin: 0;
  height: 5%;
  background-image: url("./assets/images/footer_wood_trim.png");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
